<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>Login</h5>
      </div>
      <div class="card-body">
        <form (submit)="login()" [formGroup]="form">
          <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" placeholder="user@email.com" class="form-control" name="username" [ngClass]="{'is-invalid':form.controls.username.errors && form.controls.username.touched}">
            <div [hidden]="!form.controls.username.errors?.required" class="invalid-feedback">
              Username is required
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" name="password" [ngClass]="{'is-invalid':form.controls.password.errors && form.controls.password.touched}">
            <div [hidden]="!form.controls.password.errors?.required" class="invalid-feedback">
              Password is required
            </div>
          </div>
          <input type="submit" value="Login" [disabled]="!form.valid" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>