<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Dashboard
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header" data-toggle="collapse" data-target="#weight-form">
    <h5>Add Weight</h5>
  </div>
  <div class="card-body" class="collapse p-2" id="weight-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" formControlName="date" [ngClass]="{'is-invalid':form.controls.date.errors && form.controls.date.touched}">
        <div [hidden]="!form.controls.date.errors?.required" class="invalid-feedback">
          Date is required
        </div>
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" formControlName="weight" id="weight" [ngClass]="{'is-invalid':form.controls.weight.errors && form.controls.weight.touched}">
        <div [hidden]="!form.controls.weight.errors?.required" class="invalid-feedback">
          Weight is required
        </div>
        <div [hidden]="!form.controls.weight.errors?.min" class="invalid-feedback">
          Please enter a weight greater than 0.
        </div>
        <div [hidden]="!form.controls.weight.errors?.max" class="invalid-feedback">
          Please enter a weight less than 150.
        </div>
      </div>
      <input type="submit" value="Submit" [disabled]="!form.valid" class="btn btn-primary btn-block mb-2">
    </form>
  </div>
</div>